@page "/app/viewer/list/{ViewerAlias}"

@inherits PageBase

@if (PageViewInfo != null)
{
    <ContentWrapper Caption="@PageViewInfo.Caption">
        <DxFormLayout ItemSizeMode="SizeMode.Small" CssClass="w-100">
            @foreach (var lpi in PageViewInfo.LevelPanelInfos)
            {
                <div class="row">
                    <LevelPanelView
                        LevelPanelViewInfo="lpi"
                        OnViewEventCallback="ViewEventCallbackAsync"/>
                </div>
            }
        </DxFormLayout>
    </ContentWrapper>
}