@page "/app/viewer/card/{ViewerAlias}/{RowId:int}"

@inherits PageBase

@if (PageViewInfo != null)
{

    <ContentWrapper>
        <DxFormLayout CssClass="w-100">
            <ContentHeader Caption="@PageViewInfo.Caption"/>

            @foreach (var lpi in PageViewInfo.LevelPanelInfos)
            {
                <LevelPanelView LevelPanelViewInfo="lpi" />
            }
        </DxFormLayout>
    </ContentWrapper>
}