﻿@page "/"
<div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <ContentSample/>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>