﻿@inherits AwePanel

@if (FileStorageViewInfo != null || true)
{
    <DxFormLayoutGroup>
        <DxFormLayoutItem Caption="FileStoragePanel:" ColSpanMd="12">
            FileStoragePanel Content
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
}
