﻿@inherits AwePanel

@if (LevelMenuViewInfo != null)
{
    <DxFormLayoutGroup>
        <DxFormLayoutItem Caption="LevelMenuPanel:" ColSpanMd="12">
            LevelMenuPanel
        </DxFormLayoutItem>
    </DxFormLayoutGroup>
}
