﻿@using Awe.Platform.Wasm.View.Shared.Widget.LevelPanels.ContentPanel
@inherits AwePanel

@if (LevelPanelViewInfo == null)
{
    <p>
        <em>Loading LevelPanel...</em>
    </p>
}

@if (LevelPanelViewInfo != null)
{
    <DxStackLayout Orientation="Orientation.Vertical">
        <Items>
            @if (LevelPanelViewInfo.LevelMenuViewInfo != null)
            {
                <DxStackLayoutItem Length="auto">
                    <Template>
                        <div class="stacklayout-header stacklayout-item">
                                <LevelMenuPanel LevelMenuViewInfo="LevelPanelViewInfo.LevelMenuViewInfo"/>
                        </div>
                    </Template>
                </DxStackLayoutItem>
            }
            <DxStackLayoutItem>
                <Template>
                    <DxStackLayout Orientation="Orientation.Horizontal">
                        <Items>
                            <DxStackLayoutItem Length="3fr">
                                <Template>
                                    <div class="stacklayout-content stacklayout-item">
                                        <ContentPanelView 
                                            ContentPanelViewInfo="LevelPanelViewInfo.ContentPanelViewInfo"
                                            OnRowDoubleClickCallback="RowDoubleClickCallbackAsync"
                                                      OnViewEventCallback="ViewEventCallbackAsync" />
                                    </div>
                                </Template>
                            </DxStackLayoutItem>
                            @if (LevelPanelViewInfo.FileStorageViewInfo != null)
                            {
                                <DxStackLayoutItem Length="1fr">
                                    <Template>
                                        <div class="stacklayout-right-side-bar stacklayout-item">
                                            <FileStoragePanel FileStorageViewInfo="LevelPanelViewInfo.FileStorageViewInfo"/>
                                        </div>
                                    </Template>
                                </DxStackLayoutItem>
                            }
                        </Items>
                    </DxStackLayout>
                </Template>
            </DxStackLayoutItem>
        </Items>
    </DxStackLayout>
}

