﻿@using Awe.Platform.Wasm.View.Shared.Widget.LevelPanels.ContentPanel

@using Awe.Contracts.Settings.ViewerBuild

@inherits SimplePanel

@if (DataStore == null)
{
    <p>
        <em>Loading ViewerPanel...</em>
    </p>
}
else
{
    <DxFormLayout Data="@DataStore.Data" CaptionPosition="CaptionPosition.Vertical">
        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.Id)" Caption="ViewerId" ColSpanSm="2"/>
        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.Alias)" Caption="Наименование" ColSpanSm="2"/>
        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.ViewerTypeName)" Caption="Тип" ColSpanSm="2">
            <DxComboBox Data="@(new List<string> { "ViewerType.Book", "ViewerType.Card" })"
                        Value="@((string)((ValueEditContext)context).Value)"/>
        </DxFormLayoutItem>
        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.Caption)" Caption="Заголовок" ColSpanMd="4"/>

        <DxFormLayoutItem ColSpanSm="4" Caption="-" BeginRow="true">
            <DxButton RenderStyle="ButtonRenderStyle.Info" Text="Получить ViewerId"/>
        </DxFormLayoutItem>
        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.Alias)" ColSpanSm="2" Visible="false"/>
        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.ViewerLevel)" Caption="Уровень" ColSpanSm="2"/>
        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.MainViewerAlias)" Caption="Главная форма" ColSpanSm="4">
            <DxComboBox Data="@(new List<string> { "ViewerType.All", "ViewerType.Book" })"
                        Value="@((string)((ValueEditContext)context).Value)"/>
        </DxFormLayoutItem>
    </DxFormLayout>

    <hr>

    <DxFormLayout Data="@DataStore.Data" CaptionPosition="CaptionPosition.Vertical" ItemSizeMode="SizeMode.Small">
        <DxStackLayout Orientation="Orientation.Horizontal">
            <Items>
                <DxStackLayoutItem Length="2fr">
                    <Template>
                        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.Source)" Caption="Source" ColSpanSm="11">
                            <DxComboBox Data="@(new List<string> { "AweDb", "OldDb" })"
                                        Value="@((string)((ValueEditContext)context).Value)"/>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.TbName)" Caption="Таблица" ColSpanSm="11" BeginRow="true">
                            <DxComboBox Data="@(new List<string> { "CColumn", "Viewer", "ViewerExt" })"
                                        Value="@((string)((ValueEditContext)context).Value)"/>
                        </DxFormLayoutItem>
                    </Template>
                </DxStackLayoutItem>
                <DxStackLayoutItem Length="4fr">
                    <Template>
                        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.SelectName)" ColSpanSm="11" Caption="Book - чтение">
                            <DxMemo/>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.EditName)" ColSpanSm="11" Caption="Card - чтение">
                            <DxMemo/>
                        </DxFormLayoutItem>
                    </Template>
                </DxStackLayoutItem>
                <DxStackLayoutItem Length="4fr">
                    <Template>
                        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.InsertName)" ColSpanSm="11" Caption="Insert">
                            <DxMemo/>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.UpdateName)" ColSpanSm="11" Caption="Update">
                            <DxMemo/>
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Field="@nameof(ViewerDCardInfo.DeleteName)" ColSpanSm="11" Caption="Delete">
                            <DxMemo/>
                        </DxFormLayoutItem>
                    </Template>
                </DxStackLayoutItem>
                <DxStackLayoutItem Length="4fr">
                    <Template>
                        <DxFormLayout Data="@DataStore?.Data">
                            <DxFormLayoutItem ColSpanSm="4">
                                <DxButton RenderStyle="ButtonRenderStyle.Info" SizeMode="SizeMode.Medium" Text="ген. CRUD"/>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanSm="4">
                                <DxButton RenderStyle="ButtonRenderStyle.Dark" Text="ген. Sel"/>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanSm="4">
                                <DxButton RenderStyle="ButtonRenderStyle.Light" Text="Открыть View"/>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanSm="4">
                                <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="Открыть Controller" RenderStyleMode="ButtonRenderStyleMode.Outline"/>
                            </DxFormLayoutItem>
                            <DxFormLayoutItem ColSpanSm="4">
                                <DxButton RenderStyle="ButtonRenderStyle.Success" Text="Расширения"/>
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </Template>
                </DxStackLayoutItem>
            </Items>
        </DxStackLayout>
    </DxFormLayout>
}