﻿@using Awe.Core.Widget.Contracts.ViewInfo.ContentPanel
@using Awe.Core.Common.Contracts.Widget
@using System.Diagnostics
@using Abp.Extensions
@inherits ContentPanelBase

@if (ContentPanelViewInfo == null)
{
    <p>
        <em>Loading ContentPanel...</em>
    </p>
}
else
{
    <div class="content-body">

        <div class="card">

            @if (!ContentPanelViewInfo.Caption.IsNullOrEmpty())
            {
                <div class="card-header">
                    <h3 class="card-title">Condensed Full Width Table</h3>
                </div> <!-- /.card-header -->
            }


            <div class="card-body p-0">

                @switch (ContentPanelViewInfo.ContentPanelType)
                {
                    case ContentPanelTypes.Simple:
                        Debug.Assert(ContentPanelViewInfo.SimplePanelViewInfo != null, "ContentPanelViewInfo.SimplePanelViewInfo != null");

                        <SimplePanel
                            SimplePanelViewInfo="ContentPanelViewInfo.SimplePanelViewInfo"
                            DataStore="ContentPanelViewInfo.SimplePanelViewInfo.DataStore"/>
                        break;
                    case ContentPanelTypes.Grid:
                        Debug.Assert(ContentPanelViewInfo.GridPanelViewInfo != null, "ContentPanelViewInfo.GridPanelViewInfo != null");

                        <GridPanel
                            GridPanelViewInfo="ContentPanelViewInfo.GridPanelViewInfo"
                            OnRowDoubleClickCallback="RowDoubleClickCallbackAsync"
                            OnViewEventCallback="ViewEventCallbackAsync"
                            DataStore="ContentPanelViewInfo.GridPanelViewInfo.DataStore"/>
                        break;
                    case ContentPanelTypes.Tree:
                        <h5>Tree</h5>
                        break;
                    case ContentPanelTypes.FileStorage:
                        <h5>FileStorage</h5>
                        break;
                    case ContentPanelTypes.LevelMenu:
                        <h5>LevelMenu</h5>
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }

            </div><!-- /.card body -->

        </div><!-- /.card -->

    </div>
}