﻿@using Awe.Contracts.Settings.ViewerBuild
@inherits ContentPanelBase

@inject NavigationManager Nav

@if (GridPanelViewInfo == null || DataStore == null)
{
    <p>
        <em>Loading GridPanel...</em>
    </p>
}
else
{
    if (GridPanelViewInfo != null)
    {
        <DxGrid
            AllowGroup="true"
            ShowGroupPanel="true"
            UnboundColumnData="Grid_UnboundColumnData"
            @* CustomizeElement="Grid_CustomizeElement" *@
            CssClass="mw-1100"
            Data="@DataStore"
            @* RowDoubleClick="OnRowDoubleClick" *@
            ShowFilterRow="true"
            PageSize="15"
                EditMode="GridPanelViewInfo.Editable? GridEditMode.PopupEditForm: GridEditMode.EditForm"
            PopupEditFormCssClass="pw-800"
            ColumnResizeMode="GridColumnResizeMode.NextColumn"
            FocusedRowEnabled="true"
            PagerPageSizeSelectorVisible="true"
            PagerAllDataRowsItemVisible="true"
            PagerAllowedPageSizes=@(new[] {5,10,20,40})
            PagerNavigationMode=PagerNavigationMode.InputBox>
            <Columns>
                @if (GridPanelViewInfo.ColumnViewInfos is {Count: > 0 })
                {
                    @foreach (var columnViewInfo in GridPanelViewInfo.ColumnViewInfos)
                    {
                        var columnWidth = columnViewInfo.Width + "%";

                        <DxGridDataColumn Caption="@columnViewInfo.Caption"
                                          FieldName="@columnViewInfo.FieldName"
                                          Width="@columnWidth">
                        </DxGridDataColumn>
                    }
                }

                @if (GridPanelViewInfo.Editable)
                {
                    <DxGridCommandColumn Width="140px" />
                }
            </Columns>
        </DxGrid>
    }

    @Alert
}
