﻿@inherits ContentPanelBase

@inject NavigationManager Nav

@if (DataStore == null)
{
    <p>
        <em>Loading SimplePanel...</em>
    </p>
}
else
{
    if (SimplePanelViewInfo != null && SimplePanelType != null)
    {
        <DynamicComponent Type="SimplePanelType" Parameters="Parameters" @ref="dc" />
    }

    @Alert
}
