﻿@using Awe.Contracts.Settings.Enums
@using Awe.Core.Common.Contracts.Widget

@inherits DualControl

<DxFormLayoutItem Caption="@Caption">
    @switch (ControlType)
    {
        case AweControlType.None:
            break;
        case AweControlType.Auto:
            break;
        case AweControlType.TextBox:
            <DxTextBox @bind-Text="@TextValue"></DxTextBox>
            break;
        case AweControlType.Button:
            break;
        case AweControlType.StaticTextBox:
            break;
        case AweControlType.ComboTextBox:
            break;
        case AweControlType.NumericTextBox:
            <DxSpinEdit @bind-Value="@NumValue" CssClass="cw-320" />
            break;
        case AweControlType.IntTextBox:
            <DxSpinEdit @bind-Value="@NumValue" CssClass="cw-320" />
            break;
        case AweControlType.DateTextBox:
            <DxDateEdit @bind-Date="@DateValue"></DxDateEdit>
            break;
        case AweControlType.CheckBox:
            break;
        case AweControlType.ComboBox:
            break;
        case AweControlType.TextBoxInfo:
            break;
        case AweControlType.MemoTextBox:
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
</DxFormLayoutItem>